.grid-container {
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	gap: 25px;
	justify-content: center;
	margin: 20px;
	background-color: #384929;
	padding: 3rem;
	border-radius: 2rem;
	align-items: center;
}

.cell {
	width: 70px;
	height: 70px;
	border: 2px solid black;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(223, 219, 219);
}

.cell:hover {
	background-color: rgb(190, 185, 185);
}