.grid-container {
	display: grid;
	grid-template-columns: repeat(7, 75px);
	grid-template-rows: repeat(6, 75px);
	gap: 0.8rem;
	justify-content: center;
	margin: 0 auto;
	background-color: #384929;
	padding: 2rem;
	border-radius: 2rem;
	align-items: center;
	position: relative;
	margin: 1rem;
}

.cell {
	width: 75px;
	height: 75px;
	border: 4px solid black;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(223, 219, 219);
	transition: all 0.3s;
}

.cell.playerO {
	background-color: #DBCC5E;
}

.cell.playerX {
	background-color: #F42727;
}

.star {
	font-size: 2.9rem;
	color: black;
	margin-bottom: 0.35rem;
}

.cell.hovered {
	background-color: rgb(183, 162, 162);
	scale: 1.05;
}

.cell.falling {
	transform: translateY(-50px);
}